extends ../layout.pug

block content
    h2 ADMIN
    //- br
    //- a(href="/usuario/nuevo") Crear Usuario
    br
    a(href="/medico/nuevo") Crear Medico y Persona
    br
    a(href="/medico/personas") Asignar Rol Medico a Una Persona
    br
    a(href="/medico/lista") Lista Medicos

